@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-11"></div>
    <div class="col-md-1">
        <a href="/account/logout" class="btn btn-outline-warning">Log Out</a>
    </div>
</div>

<div id="alert" class="alert alert-success" role="alert" style="display:none;"></div>

<div class="text-center">
    <h1 class="display-4">Welcome @ViewBag.User.UserName</h1>
    <img  src="images/@ViewBag.User.Image" style="width:100px;height:100px;border-radius:50%;"/>
</div>


<div class="row">
    @* All users *@
    <div id="allUsers" class="col-md-4" style="display:flex;flex-direction:row;justify-content:space-between;">
    </div>
    @* Friends *@
    <div class="col-md-4">
        <div id="friends"></div>
    </div>
    @* Requests *@
    <div class="col-md-4">
        <div id="requests"></div>
    </div>
</div>
